<style>
    .hcontent{
        font-weight: normal;
        font-size: 90%;
    }

    .line{
        margin: 5px auto;
    }

    .phase {
        margin: 40px 0 0 0 !important;
        padding: 0 0 0 20px !important;
        min-width: 100px;
        border-left: 4px solid #eee;
    }
    
    .xbutton {
        font-size: 110%;
    }

    .h-text{
        font-weight: bolder;
        font-size:140%; color:#444;
        font-family: 'Roboto Slab'
    }
</style>

<header id="header">
    <h2 id="view-title">Dune Network Onchain Vote // List of Proposals</h2>
</header>

<section class="content-section" style="padding: 60px">

    <div class="phase" style="border-style: none;">
        <p class="h-text">
            Test Vote&nbsp;&nbsp;&nbsp;&nbsp;&#128499;<br/>
            <span class="hcontent"><a href="/vote-dapp/index.html?contract=KT1M13KnjQBN25PrahftvBEgoSdS7TCybSr3">KT1M13KnjQBN25PrahftvBEgoSdS7TCybSr3</a></span>
        </p>
    </div>

</section>
