<style>
    .hcontent{
        font-weight: normal;
        font-size: 90%;
    }

    .line{
        margin: 5px auto;
    }

    .phase {
        margin: 30px 0 0 0 !important;
        padding: 0 0 0 20px !important;
        min-width: 100px;
        border-left: 4px solid #eee;
    }
    
    .xbutton {
        font-size: 110%;
    }

    .h-text{
        font-weight: bolder;
        font-size:140%; color:#444;
        font-family: 'Roboto Slab'
    }
</style>

<header id="header">
    <h2 id="view-title">{view-title}</h2>
</header>

<section class="content-section" style="padding: 60px">

    <div class="phase" style="border-style: none;">
        <p class="h-text">
            Proposition URL&nbsp;&nbsp;&nbsp;&nbsp;&#128499;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="hcontent" id="proposition-url">{proposition-url}</span>
        </p>
    </div>
    <div class="phase" style="border-style: none;">
        <p class="h-text">
            Smart Contract&nbsp;&nbsp;&nbsp;&nbsp;&#128499;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="hcontent" id="smart-contract-addr">{smart-contract-addr}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="hcontent"><a href="/vote-dapp/index.html">[ other votes ]</a></span>
        </p>
    </div>


<div class="row justify-content-center" style="margin-bottom: 30px; margin-top:40px; text-align: center;">
    <div class="col-md-5 m4">
        <div style="border: 1px solid #ddd; border-radius: 20px ; padding: 2px; box-shadow: 6px 6px 2px 1px rgba(230, 230, 230, .5);">
            <p class="pp" id="phase-1-title">
                Vote Progress
            </p>
            <div class="progress" style="margin: 0 10px">
                <div id="phase-1-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
            </div>
            <p>
                <span id="phase-1-info">
                    {progress}
                </span>
                <a id="start-end-interval" style="cursor: pointer; border:0;" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                    (?)
                </a>
            </p>
        </div>
    </div>
    <div class="col-md-5 m4">
        <div style="border: 1px solid #ddd; border-radius: 20px ; padding: 2px; box-shadow: 6px 6px 2px 1px rgba(230, 230, 230, .5);">
            <p class="pp" id="phase-2-title">
                Cast votes
            </p>
            <div class="progress" style="margin: 0 10px">
                <div id="phase-2-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
            <p id="phase-2-info">
                {cast-votes}
            </p>
        </div>
    </div>
    
</div>


<div class="row justify-content-center" style="margin-bottom: 30px; margin-top:40px; text-align: center;">
    <div class="col-md-3 mb-3">
        <div style="background-color: #cfc; border: 1px solid #eee; border-radius: 20px 20px 0px 0px; padding: 2px; box-shadow: 6px 6px 2px 1px rgba(230, 230, 230, .5);">
            <p class="h-text">
                Yes
            </p>
        </div>
        <div style="background-color: #fff; border: 2px solid #eee; border-radius: 0px 0px 20px 20px; padding: 2px 6px; box-shadow: 6px 6px 2px 1px rgba(230, 230, 230, .5);">
            <p>
                <span style="font-weight: bold" id="yes-votes">
                    {yes}
                </span>&nbsp;&nbsp;votes
            </p>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div style="background-color: #fcc; border: 1px solid #eee; border-radius: 20px 20px 0px 0px; padding: 2px 6px; box-shadow: 6px 6px 2px 1px rgba(230, 230, 230, .5);">
            <p class="h-text">
                No
            </p>
        </div>
        <div style="background-color: #fff; border: 2px solid #eee; border-radius: 0px 0px 20px 20px; padding: 2px 6px; box-shadow: 6px 6px 2px 1px rgba(230, 230, 230, .5);">
            <p>
                <span style="font-weight: bold" id="no-votes">
                   {no}
                </span>&nbsp;&nbsp;votes
            </p>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div style="background-color: #ffc; border: 1px solid #eee; border-radius: 20px 20px 0px 0px; padding: 2px 6px; box-shadow: 6px 6px 2px 1px rgba(230, 230, 230, .5);">
            <p class="h-text">
                Pass
            </p>
        </div>
        <div style="background-color: #fff; border: 2px solid #eee; border-radius: 0px 0px 20px 20px; padding: 2px 6px; box-shadow: 6px 6px 2px 1px rgba(230, 230, 230, .5);">
            <p>
                <span style="font-weight: bold" id="pass-votes">
                   {pass}
                </span>&nbsp;&nbsp;votes
            </p>
        </div>
    </div>
</div>


<div style="text-align:center">
    <h3 style="display:none" id="vote-ended-message" class="line">Vote ended.</h3>
    <h3 style="display:none" id="vote-ended-winner" class="line">"<span id="vote-end-winner-choice">{vote-end-winner-choice}</span>" choice received the majority of votes!</h3>
    <h3 style="display:none" id="vote-ended-draw" class="line">No winning choice!</h3>

</div>

<div style="display: none;" id="vote-open">

    <hr style="margin: 60px auto; width: 40%;" />
    <div style="margin:auto; text-align: center; font-size:110%">
        <div id='connecting-account'>
            <p><img src=/vote-dapp/images/loader.gif style="height:100px" /></p>
        </div>
        <div style="display:none" id='connect-metal'>
            <p class="pp" style="text-align: center;">If you are a validator and didn't vote yet, connect Metal to
                    vote:</p>
            <div style="margin: 20px auto;">
                <div style="width:300px; margin: 20px auto; font-size:105%" class=button
                    onclick="metalController.connect(true)">Connect Metal</div>
            </div>
        </div>
        <div id='accounts-info' style="display:none; font-family:monospace">
            <div id="account-blockies"></div>
            <p class="pp" style="text-align: center;">Your address
                <span style="font-weight:bold" id='user-dn1-address'>{user-dn1-address}</span> has 
                <span style="font-weight:bold" id='user-rolls'>{user-rolls}</span>
                rolls.
            </p>
        </div>
        <div id='no-rolls' tyle="display:none">
            <p class="pp" style="text-align: center;">It seems this address doesn't have voting rights.</p>
        </div>
        <div id='already-voted' tyle="display:none">
            <p class="pp" style="text-align: center;">It seems that this address already voted.</p>
        </div>
        <div id='operation-in-mempool' tyle="display:none">
            <p class="pp" style="text-align: center;">Operation <span id="pending-op-hash">{pending-op-hash}</span> is waiting for inclusion.</p>
        </div>
        <div id='operation-included' tyle="display:none">
            <p class="pp" style="text-align: center;">Operation <span id="op-hash">{op-hash}</span> included <span
                id="confirmation-blocks">{confirmation-blocks}</span> blocks ago.</p>
        </div>
        <div id='make-a-vote' tyle="display:none">
            <p class="pp" style="text-align: center;">To cast your vote, click on one of the buttons below:</p>
            <div class="row">
                <div class="col-2 d-flex justify-content-center"></div>
                <div class="col-2 d-flex justify-content-center">
                    <div style="width:200px; margin: 20px auto;" class=button onclick="controller.vote('Yes')">Vote Yes
                    </div>
                </div>
                <div class="col-1 d-flex justify-content-center"></div>
                <div class="col-2 d-flex justify-content-center">
                    <div style="width:200px; margin: 20px auto" class=button onclick="controller.vote('No')">Vote No
                    </div>
                </div>
                <div class="col-1 d-flex justify-content-center"></div>
                <div class="col-2 d-flex justify-content-center">
                    <div style="width:200px; margin: 20px auto" class=button onclick="controller.vote('Pass')">Vote
                        Pass
                    </div>
                </div>
                <div class="col-2 d-flex justify-content-center"></div>
            </div>
        </div>
    </div>

    <div id="command-line-vote" style="font-size:110%" >
        <p class="pp" style="text-align: center;">You can also vote via command-line</p>
        <div
            style="text-align: center; font-family: monospace; margin:20px; padding: 20px; background-color: #eee; border-radius: 15px; font-size: 95%;">
            ./dune-client -A mainnet-node.dunscan.io -P 443 -S 
            transfer 0 from <b>&lt;your-baker-alias&gt;</b> to <span
                id="kt1-address">{kt1-address}</span> --entrypoint cast_vote --arg '#love:<b>Your-choice</b>' --burn-cap 1
            --storage-limit 200 --gas-limit 60000
        </div>
        Where <b>Your-choice</b> is one of: <b>Yes</b>, <b>No</b>, <b>Pass</b>.
    </div>
</div>

<hr style="margin: 60px auto; width: 40%;" />

<h2 class="line">Voters</h2>
<br/>

<div style='min-height: 300px; min-width: 400px; text-align: left'>
    <table class=table>
        <thead>
            <tr>
                <th style="width:50%">
                    Validator&nbsp;Address
                </th>
                <th style="width:17%">
                    Block level
                </th>
                <th style="width:17%">
                    Nb Rolls
                </th>
                <th style="width:17%">
                        Vote
                </th>
            </tr>
        </thead>
        <tbody id="list-of-voters">
        </tbody>
    </table>
</div>











</section>


<!--


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
-->